html {
    font-size: 100%;
}
body {
    //-webkit-text-stroke-width: .05px;
    //-webkit-text-stroke-color: white;
    -webkit-font-smoothing: antialiased;
    font-family: Lato, sans-serif;
    font-size: 18px;
    line-height:35px;
    font-weight: 400;
    letter-spacing: 0.45px;
    color: #516677;
}

/* PAGE */
.prismic__container {
	margin-left: 1rem;
	margin-right: 1rem;
}
	.prismic__container h1 {
		text-align: center;
	}

/* QUOTE */
.quote + .quote {
	margin-top: 1rem;
}
.quote__container {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0 auto;
	max-width: 45rem;
	border: 1px solid #ccc;
	border-radius: 10px;
}
.quote__container > div {
	flex-direction: column;
}
.prismic__container[data-disjointed-align='true'] .quote__container {
	max-width: 100%;
}
.quote__content {
	flex: 1;
	padding: 0 1rem 0 0;
}
.quote[data-position='right'] .quote__image {
	order: 2;
}
.quote[data-position='right'] .quote__content {
	text-align: right;
	padding: 0 0 0 1rem;
}

/* EXTENDED GRID */
.extended-grid {
	margin-bottom: 1rem;
}
.extended-grid__container {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}
	.extended-grid__container h2,
	.extended-grid__container h3 {
		position: absolute;
		z-index: 3;
	}
	.extended-grid__container div {
		position: relative;
		color: white;
		font-size: 1rem;
		text-transform: uppercase;
		font-weight: 800;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.extended-grid__container img {
		width: 100%;
	}
.extended-grid__small {
	background-color: #000;
	flex-direction: row;
	width: 100%;
}
	.extended-grid__small__item:before {
		background-color: rgba(0, 0, 0, 0.2);
		content: "";
		display: block;
		height: 100%;
		position: absolute;
		width: 100%;
		z-index: 2;
	}
	.extended-grid__small img {
		z-index: 1;
	}
	.extended-grid__small > div {
		width: 100%;
	}
.extended-grid__big {
	width: 100%;
}

@media only screen and (min-width: 1024px) {
	.prismic__container {
		margin-left: 12rem;
		margin-right: 12rem;
	}
	.prismic__container[data-disjointed-align='true'] .quote[data-position='left'] .quote__container {
		margin: 0 40% 0 20%;
	}
	.prismic__container[data-disjointed-align='true'] .quote[data-position='right'] .quote__container {
		margin: 0 20% 0 40%;
	}
	.extended-grid__container {
		flex-direction: row;
	}
	.extended-grid__small {
		flex-direction: column;
	}
		.extended-grid__small h3 {
			font-size: 1.2rem;
		}
	.extended-grid__big {
		flex: 1 0 76%;
	}
		.extended-grid__big h2 {
			font-size: 1.6rem;
		}
}
