/* PRESS */
.app__cms__press {
  text-align: center;
}
.app__cms__press__container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}
.app__cms__press__content {
  margin-bottom: 2rem;
  min-height: 12rem;
}
@media only screen and (min-width: 768px) {
  .app__cms__press__content {
    min-height: 8rem;
  }
}
.app__cms__press__content > p {
  margin: 0;
}
.app__cms__press__content > p + p {
  margin-top: 1rem;
}
.app__cms__press__text {
  font-family: Georgia, serif;
  font-size: 1.2rem;
  font-weight: bold;
  quotes: '\201C''\201D''\2018''\2019';
}
@media only screen and (min-width: 1024px) {
  .app__cms__press__text {
    font-size: 1.6rem;
  }
}
.app__cms__press__text:before {
  content: '\201C';
}
.app__cms__press__text:after {
  content: '\201D';
}
.app__cms__press__images {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 32rem;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .app__cms__press__images {
    max-width: 48rem;
  }
}
.app__cms__press__image {
	align-items: center;
	background-color: transparent;
  border: 0;
  display: flex;
  flex: 0 1 auto;
  max-width: 70px;
  opacity: 0.3;
  transition: opacity 0.3s cubic-bezier(0.35, 0.01, 0.77, 0.34);
}
@media only screen and (min-width: 768px) {
  .app__cms__press__image {
    max-width: 100px;
  }
}
.app__cms__press__image--active {
  opacity: 1;
}
.app__cms__press__image img {
  width: 100%;
}
